.orderitems{
    margin: 100px 170px;
}

.orderitems hr{
    height: 2px;
    background: #e2e2e2;
    border: 0;
}

.orderitems-format-main{ 
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}

.orderitems-format{
    font-size: 17px;
    font-weight: 500;
}

.ordericon-product-icon{
    height: 62px;
}

.orderitems-remove-icon{
    width: 15px;
    margin: 0 40px;
    cursor: pointer;
}

.orderitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff;
}

.orderitems-down{
    display: flex;
    margin: 100px 0;
}

.orderitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.orderitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.orderitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.sizeSelected{
    border: 1px solid #ff5a5a;
}

.orderitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}

.orderitems-promocode p{
    color: #555;
}

.orderitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}

.orderitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}

.orderitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor: pointer;
}

@media(max-width:1280px){
    .orderitems{
        margin: 60px 50px;
    }

    .orderitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr;
        gap: 20px;
        padding: 15px 0;
        font-size: 15px;
    }

    .ordericon-product-icon{
        height: 50px;
    }

    .orderitems-remove-icon{
        margin: auto;
    }

    .orderitems-quantity{
        width: 40px;
        height: 30px;
    }

    .orderitems-down{
        margin: 80px 0;
        flex-direction: column;
        gap: 80px;
    }

    .orderitems-total{
        margin: 0;
    }

    .orderitems-total button{
        max-width: 200px;
        height: 45px;
        font-size: 13px;
    }

    .orderitems-promobox{
        width: auto;
        max-width: 500px;
    }

    .orderitems-promobox input{
        width: 100%;
    }

    .orderitems-promobox button{
        width: 120px;
        margin-left: -125px;
    }
}


@media(max-width:500px){
    .orderitems-format-main{
        display: none;
        grid-template-columns: 0.5fr 3fr 0.5fr;
        gap: 10px;
    }

    .orderitems-format{
        display: grid;
    }
}