.hero-container{
    display: flex;
    height:60vh;
    margin:15px 0 50px;
}

.image{
    height: 55vh;
    width: 100%;
    display: flex;
    animation:slide transform 2s ease-in-out backwards;
}

.dots-container {
    width: 120px;
    left: 50%;
    position: absolute;
    bottom: 150px;
    transform: translateX(-50%);
    display: flex;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: #333;
  }

@keyframes slide {
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }

  @media(max-width:1280px){
    .hero-container{
        height: 28vh;
        margin:15px 0 100px;
    }
    
    .image{
        height: 28vh;
    }

    .dots-container {
      top:600px;
      width: 110px;
    }
    
    .dot {
      width: 8px;
      height: 8px;
    }
}

  @media(max-width:1024px){
    .hero-container{
        height: 24vh;
        margin:15px 0 40px;
    }
    
    .image{
        height: 24vh;
    }

    .dots-container {
      top:280px;
      width: 110px;
    }
    
    .dot {
      width: 8px;
      height: 8px;
    }
}


  @media(max-width:800px){
    .hero-container{
        height: 20vh;
        margin:15px 0 10px;
    }
    
    .image{
        height: 20vh;
    }

    .dots-container {
      top:250px;
    }
}

@media(max-width:500px){
    .hero-container{
        height: 18vh;
        margin-bottom: 25px;
    }
    .image{
        height: 17vh;
    }

    .dots-container {
      width: 100px;
      top:215px;
    }
    
    .dot {
      width: 6px;
      height: 6px;
    }
}