.payment-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .payment-modal-main {
    position: fixed;
    background-color: white;
    width: 38%;
    height: auto;
    top: 0%;
    left: 30%;
    animation: drop 0.5s ease forwards;
  }

  @keyframes drop {
    0%{opacity: 0;}
    70%{transform: translateY(60%);}
    100%{transform: translateY(50%);opacity: 1;}  
  }

  .payment-post-header{
    padding: 20px;
  }

  .payment-close-button{
    padding: 0 5px;
    margin: 1px;
    font-size: 30px;
    float: right;
    border:none;
    color: white;
    background: transparent;
  }
  
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  
  .payment-input-container {
    margin-bottom: 10px;
  }
  
  .payment-input-container label {
    display: block;
    margin-bottom: 5px;
  }
  
  .payment-input-container input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .payment-button-container {
    text-align: center;
  }
  
  .payment-button-container .payment-pay-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .payment-button-container .payment-pay-button:disabled {
    background-color: #99c8fa;
  }

  .payment-header{
    text-align: center;
    padding: 2px;
    color: white;
    height: 35px;
    background: #007bff;
  }

  .payment-heading{
    font-size: 22px;
}

  @media(max-width:1280px){
    .payment-modal-main{
        width:46%
    }
  }

  @media(max-width:1024px){
    .payment-modal-main{
        left:26%;
        width:48%;
    }
  }

  @media(max-width:800px){
    .payment-post-header{
      padding: 8px;
    }
    .payment-modal-main{
        left: 18%;
        width:60%;
    }

    .payment-modal-main{
        font-size: 16px;
      }

      .payment-close-button{
        font-size: 22px;
      }

    .payment-header{
      height: 30px;
    }

    .payment-heading{
        font-size: 18px;
    }
    .payment-modal-main{
        padding: 10px;
    }

    .payment-button-container .payment-pay-button {
        padding: 8px 15px;
        cursor: pointer;
      }
  }